# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Exercise_4-7/.vs/Exercise_4-7/v15/.suo
Exercise_4-7/.vs/Exercise_4-7/v15/Browse.VC.db
Exercise_4-7/.vs/Exercise_4-7/v15/Browse.VC.opendb
Exercise_4-7/.vs/Exercise_4-7/v15/ipch/7de8dcbb4fbcae9b.ipch
Exercise_4-7/Debug/Exercise_4-7.ilk
Exercise_4-7/Debug/Exercise_4-7.pdb
Exercise_4-7/Exercise_4-7/Debug/Exercise_4-7.log
Exercise_4-7/Exercise_4-7/Debug/Exercise_4-7.tlog/CL.command.1.tlog
Exercise_4-7/Exercise_4-7/Debug/Exercise_4-7.tlog/CL.read.1.tlog
Exercise_4-7/Exercise_4-7/Debug/Exercise_4-7.tlog/CL.write.1.tlog
Exercise_4-7/Exercise_4-7/Debug/Exercise_4-7.tlog/Exercise_4-7.lastbuildstate
Exercise_4-7/Exercise_4-7/Debug/Exercise_4-7.tlog/link.command.1.tlog
Exercise_4-7/Exercise_4-7/Debug/Exercise_4-7.tlog/link.read.1.tlog
Exercise_4-7/Exercise_4-7/Debug/Exercise_4-7.tlog/link.write.1.tlog
Exercise_4-7/Exercise_4-7/Debug/vc141.idb
Exercise_4-7/Exercise_4-7/Debug/vc141.pdb
Exercise_4-7/.vs/Exercises/v15/Browse.VC.db
Exercise_4-7/.vs/Exercises/v15/Browse.VC.opendb
Exercise_4-7/.vs/Exercises/v15/ipch/7de8dcbb4fbcae9b.ipch
Exercise_4-7/.vs/Exercises/v15/Solution.VC.db
Exercise_4-7/.vs/Exercises/v15/Solution.VC.db-shm
Exercise_4-7/.vs/Exercises/v15/Solution.VC.db-wal
Exercises/.vs/Exercises/v15/.suo
Exercises/.vs/Exercises/v15/Browse.VC.db
Exercises/.vs/Exercises/v15/ipch/7de8dcbb4fbcae9b.ipch
Exercises/.vs/Exercises/v15/Solution.VC.db
Exercises/Debug/Exercise_4-7.ilk
Exercises/Debug/Exercise_4-7.pdb
Exercises/Exercise_4-7/Debug/Exercise_4-7.log
Exercises/Exercise_4-7/Debug/Exercise_4-7.tlog/CL.command.1.tlog
Exercises/Exercise_4-7/Debug/Exercise_4-7.tlog/CL.read.1.tlog
Exercises/Exercise_4-7/Debug/Exercise_4-7.tlog/CL.write.1.tlog
Exercises/Exercise_4-7/Debug/Exercise_4-7.tlog/Exercise_4-7.lastbuildstate
Exercises/Exercise_4-7/Debug/Exercise_4-7.tlog/link.command.1.tlog
Exercises/Exercise_4-7/Debug/Exercise_4-7.tlog/link.read.1.tlog
Exercises/Exercise_4-7/Debug/Exercise_4-7.tlog/link.write.1.tlog
Exercises/Exercise_4-7/Debug/vc141.idb
Exercises/Exercise_4-7/Debug/vc141.pdb
Exercises/.vs/Exercises/v15/ipch/AutoPCH/1e3ef5ce4dcb3c2c/MAIN.ipch
Exercises/.vs/Exercises/v15/ipch/AutoPCH/5ff14cb2ed4056e3/BIGINT.ipch
Exercises/.vs/Exercises/v15/ipch/AutoPCH/869f629896bf56a0/BIGINT.ipch
Exercises/BigInt_in_progress/Debug/BigInt.log
Exercises/BigInt_in_progress/Debug/BigInt.tlog/BigInt.lastbuildstate
Exercises/BigInt_in_progress/Debug/BigInt.tlog/BigInt.write.1u.tlog
Exercises/BigInt_in_progress/Debug/BigInt.tlog/CL.command.1.tlog
Exercises/BigInt_in_progress/Debug/BigInt.tlog/CL.read.1.tlog
Exercises/BigInt_in_progress/Debug/BigInt.tlog/CL.write.1.tlog
Exercises/BigInt_in_progress/Debug/BigInt.tlog/link.command.1.tlog
Exercises/BigInt_in_progress/Debug/BigInt.tlog/link.read.1.tlog
Exercises/BigInt_in_progress/Debug/BigInt.tlog/link.write.1.tlog
Exercises/BigInt_in_progress/Debug/vc141.idb
Exercises/BigInt_in_progress/Debug/vc141.pdb
Exercises/BigInt_in_progress/Debug/vcpkg.applocal.log
*.ilk
*.pdb
*.tlog
*.log
*.vcxproj
*.filters
*.vcxproj
*.ipch
*.opendb
*.sqlite
